@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    white,
    pink,
    rgb(128, 193, 193),
    orange
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
    position: relative;
    height: 90%;
    width: 40%;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    /* padding: 0 10px; */
    /* border: 1px solid red; */
}
.header{
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-decoration: underline;
    background-color: teal;
    color: white;
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.input_data{
    /* background-color: red; */
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    height: 80%;
    overflow: hidden;
    overflow-y: scroll;
    /* padding: 10px 0; */
}
.input_data::-webkit-scrollbar{
    width: 10px;
    
}
.input_data::-webkit-scrollbar-thumb{
    background-color: teal;
    border-radius: 20px
}
.input_data li{
    display: flex;
    justify-content: space-between;
    list-style: none;
    /* border: 1px solid; */
    margin-top: 3px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 500;
    color: teal;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: white;
}
.input_data ul li label{
    /* border: 1px solid; */
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input_data ul li label i{
    font-size: 26px;
    cursor: pointer;
}
.input_data ul .checkbox .check{
    color: gray;
    text-decoration: line-through;
}
.input_data ul .checkbox .fa-square-check{
    color: gray;
    text-decoration: line-through;
}
.input_data ul .checkbox .fa-pen-to-square{
    color: gray;
    text-decoration: line-through;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: teal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.footer .input_list{
    padding: 10px 10px;
    width: 90%;
    border-radius: 5px;
    border: 0;
    outline: 0;
    background-color: teal;
    border: 2px solid white;
    font-size: 20px;
    color: white;
}
.footer .input_list::placeholder{
    color: white;
    
}
.footer span{
    border: 3px solid white;
    padding: 9px;
    border-radius: 50%;
}
.footer span i{
    color: white;
    font-size: 25px;
    cursor: pointer;
}

@media (max-width: 500px){
    .container{
        width: 99%;
    }
    .input_data ul li span{
        width: 65%;
        /* border: 1px solid red; */
        font-size: 18px;
        /* overflow: hidden; */
        overflow-y: scroll;
    }
    .input_data ul li label{
        width: 19%;
    }
    .input_data ul li label i{
        font-size: 17px;
    }
    .footer .input_list{
        width: 80%;
        padding: 6px 10px;
        font-size: 16px;
    }
    .footer span{
        padding: 7px;
    }
    .footer span i{
        font-size: 19px;
    }
}

@media (max-width: 1500px){
    .container{
        width: 50%;
    }
}

@media (max-width: 1300px){
    .container{
        width: 55%;
    }
}

@media (max-width: 1000px){
    .container{
        width: 70%;
    }
}

@media (max-width: 800px){
    .container{
        width: 98%;
    }
}